*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body{

    /* background-image: url("home-main-bg.jpg"); */
    background-image: radial-gradient(rgb(245, 242, 242) , rgb(43, 43, 43)) , url("home-main-bg.jpg");
    background-size:cover;
    background-position:center;
    background-blend-mode: multiply;
    height: 100vh;
}

:root{
    --bg-color:#ad2624;
}

/* ul list same order btn and book btn */

ul{
    list-style-type:none;
    display:flex;
    align-items: center;
    gap:40px;
}

ul li.sale-button{
    display: flex;
    gap:20px;
    align-items: center;
}


ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;

    padding:2px 10px;
}


ul li.sale-button a{
    text-transform: capitalize ;
    background-color:var(--bg-color);
    padding:3px 9px;
    border-radius:4px;
    border:2px solid transparent;
}

ul li.sale-button a:nth-child(1):hover{
    background-color: red;
    transition: background-color 2s;
}

ul li.sale-button a:nth-child(2){
    background-color:transparent;
    border:2px solid var(--bg-color);
    position: relative;
}

/* use after and before anchor tag */

ul li.sale-button a:nth-child(2)::before{
    content:"";
    background-color:var(--bg-color);
    height: 3px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: height  0.9s;
    z-index: -1;
}

ul li.sale-button a:nth-child(2):hover::before{
    height: 100%;
}


/* end  */

/* Start the navigation bar  */

nav .nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 12pc;
}

.nav-container .logo img{
    width:70px;
    filter: drop-shadow(1px 1px 5px  rgba(255, 255, 255, 0.381));
}


/* End navigation section  */




/* Start Header section  */

header{
    position: absolute;
    top:30%;
    left: 12pc;
    width:49rem;
}

header .hero-section{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.516);
    color:rgb(219, 222, 224);
}

header .hero-section h1{
    font-size: 55px;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 5px;
}


header .hero-section p{
    margin-bottom: 45px;
    font-size: 20px;
}

header .hero-section h2{
    margin-bottom: 40px;
    font-size:38px;
    font-weight: 300;
    line-height: 2.5rem;
}

header span{
    color:#f30403;
    font-weight: 600;
}


.order-btn a{
    padding:5px 30px !important;
}

.order-btn a:nth-child(2){
  -webkit-backdrop-filter: blur(0.04rem);
  backdrop-filter: blur(0.04rem);
  color: white;
}


/* End the hero section  */


