.blog .line {
  width: 100px;
  border: 5px solid var(--color-brown);
}

.blog {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 6pc;
  gap: 30px;
}

.blog h3 {
  font-size: 35px;
  color: var(--heading-color);
}

.blog p {
  color: var(var(--para-color));
  font-size: 20px;
  font-weight: lighter;
}

.blog button {
  background-color: transparent;
  color: var(--color-brown);
  letter-spacing: 0.15rem;
}

.blog button:hover {
  background-color: var(--color-brown);
  color: #fff;
}

.travel {
  gap: 15px;
}
