.about{
    text-align: center;
    padding: 7rem 15px;
}

.about h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    font-family: Playfair Display, serif;
    margin-bottom:calc(4rem + 2vw);
    color: rgba(55, 65, 81);
}

.about p{
    color: #374151;
    font-size: calc(0.7rem + 1vw);
    margin: auto;
    font-family:math;
}

@media (min-width:640px) {
    .about p{
        max-width: 65ch;
    }
}

