header h5:hover {
  color: transparent !important;
  cursor: pointer;
}

.container-2 p {
  display: none;
}

.container-2 .facility div div {
  background: transparent !important;
}

.facility svg {
  font-size: 45pt;
}

.number-box1 {
  justify-content: space-around;
}

.container-2 .number-box1 div {
  border: 1px solid green;
  width: calc(5rem + 6vw);
  text-align: center;
  padding: 0 !important;
  margin: auto;
}

.number-box1 .numbers,
.the-team .numbers {
  background: transparent !important;
  border: none !important;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.number-box1 > div:hover{
  background: green ;
  cursor: pointer;
  border-radius: 40px;
  transition: border-radius 0.5s linear;
}

.the-team p {
  display: initial;
}

.container-2 .number-box2 div {
  border: solid;
  border-color: green;
  width: min-content;
  height: min-content;
  padding: 0 !important;
}

.the-team .numbers img {
  background: #e4e6e7;
  color: #aeb4b7;
  padding: 2px 5px;
  font-size: 6rem;
  border-radius: 4px;
}

.container-3 .about > div {
  width: 80%;
  margin: auto;
}

.container-3 .about div .numbers {
  display: none;
}

.about div div.css-wflofb:nth-child(2) {
  align-items: start;
  text-align: start;
}

.contact h6 {
  margin-bottom: 0 !important;
}

footer > div > div > p {
  display: none;
}

.about h6 {
  margin-bottom: 0px;
}

/* Position the popup and initially hide it */
.popup-box {
  display: none;
  position: absolute;
  top: 100%; /* Position the box below the item */
  left: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  white-space: nowrap; /* Ensure text doesn't wrap */
  border: 1px solid #ccc;
}

/* Show the popup when hovering over the list item */
li:hover .popup-box {
  display: block;
}

/* Additional styles for the popup box content */
.popup-box p {
  margin: 5px 0;
  color: black;
  font-size: 0.9rem;
}

.popup-box p:hover {
  color: green; /* Optional: add hover effect for each item */
}

@media (max-width: 480px) {
  .contact {
    flex-direction: column;
  }
}
