/* Default Navbar Styling */
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent; /* Default transparent background */
}

.navbar h1 {
  letter-spacing: 0.2rem;
}

.navbar svg {
  font-size: 30px;
  cursor: pointer;
}

/* Navbar background for all pages except Home */
.navbar-other-pages {
  background-color: #a0522d; /* Brown background color */
  position: initial;
}

/* NavPage Styling */
.navpage {
  box-sizing: border-box;
  position: fixed;
  background-color: rgb(224, 200, 185);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.navpage svg {
  position: absolute;
  font-size: 45px;
  top: 30px;
  left: 40px;
  color: rgba(120, 53, 15);
}

.navpage ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.navpage ul li {
  font-weight: bold;
  font-size: 25px;
}

.navbar ul li a {
  color: rgba(120, 53, 15);
}

.navpage ul li a:hover {
  text-decoration: underline 5px;
  text-underline-offset: 10px;
}

@media (max-width:330px) {
  .navbar-other-pages{
    padding: 2rem 10px;
  }

  .navbar-other-pages h1{
    letter-spacing: 1px;
    font-size: medium;
  }
}