.navbar{
    background: rgba(0, 0, 0, 0.164);
    display: flex;
    padding:1rem 4rem;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
}

.navbar .logo h1{
    text-align: center;
    line-height: 1.4rem;
    text-shadow: 1px 1px 2px  #000;
}

.navbar .nav-links ul{
    display: flex;
    gap:25px;
}

.nav-links ul li{
    font-size: 1.1rem;
    font-weight: bold;
}