.card-section img {
  width: 100%;
  display: block;
  cursor: pointer;
}

.card-section .cardBox {
  padding: 30px 0 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(249, 250, 251);
  flex-wrap: wrap;
}

.cardBox h3 {
  font-size: 1.875rem;
  font-weight: 500;
  font-family: Playfair Display, serif;
}

.cardBox p {
  color: rgba(55, 65, 81);
  width: 50ch;
}

.cardBox > div {
  color: rgba(75, 85, 99);
  font-size: 1rem;
  font-weight: 600;
}

.cardBox h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0);
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.cardBox h6 svg {
  font-size: 2dvh;
}
