/* tablate size 900px width responive  */

@media (min-width:577px) and (max-width:900px) {
    nav .nav-links ul {
        position: fixed;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        height: 100vh;
        top: 0;
        right: 0;
        align-items: center;
        background-color: rgba(72, 72, 72, 0.745);
    }

    nav .nav-links {
        display: none;
    }

    header h2 {
        font-size: 2.5rem;
    }

    .container-box1 .img-links {
        flex-wrap: wrap;
        gap:15px;
        justify-content: space-around;
    }

    .container-box1 .img-links > div {
        width:40%;
        text-align: center;
    }

}