@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
}

a,
p {
    color: rgba(255, 255, 255, 0.701);
    font-size: 14px !important;
}

.bg-hero {
    background-image: url("./images/bg_1.jpg");
    background-size: cover;
    height: 100vh !important;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.604);
    background-blend-mode: color;
}

section .contact-links>div {
    display: flex;
    gap: 20px;
}

h2,
i {
    color: rgba(255, 255, 255, 0.878);
    font-weight: 500;
}

h4 {
    color: rgba(255, 255, 255, 0.361);
    font-weight: 400;
    font-size: 20px;
}

section .contact-links>div i {
    font-size: 25px;
}

/* form section  */

form input,
form textarea {
    background-color: transparent;
    border: 1px solid rgba(178, 178, 178, 0.378);
    border-radius: 2px;
    padding-left: 20px;
    outline: none;
    height: 60px;
}

form textarea {
    height: 145px !important;
}

::placeholder {
    color: black;
    font-weight: 300;
}

form button.btn {
    background-color: #1089ff;
    max-width: max-content;
    font-weight: 300;
    font-size: 14px;
}

