* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
}
a {
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 65px;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.navbar .nav-links ul {
  display: flex;
  gap: calc(1px + 4vw);
}

.navbar .nav-links ul li {
  font-size: calc(5px + 1vw);
}

.navbar ul li a {
  position: relative;
}

.navbar ul li a:hover {
  color: rgb(59, 207, 0) !important;
}

.navbar ul li a::before{
  position:absolute;
  content: " ";
  background: rgb(0, 4, 255);
  width: 0%;
  height: 3px;
  left: -3px;
  bottom: -5px;
  border-radius: 20%;
  transition: 0.4s width linear;
}

.navbar ul li a:hover:before{
  width: 115%;
}

.theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar .theme-icon i {
  font-size: 30px;
  cursor: pointer;
  padding: 3px 5px;
  transition: 1s border-radius linear;
}

.navbar .theme-icon i.fa-sun:hover{
  box-shadow: 1px 1px 3px 1px rgba(255, 253, 253, 0.551);
  border-radius: 7px;
}

.theme-icon i:hover{
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.251);
  border-radius: 7px;
}

.navbar .logo {
  width: 120px;
  cursor: pointer;
}

.navbar .logo img {
  width: 100%;
}

/* hero  section*/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 91.5vh;
}

.hero-text {
  padding: 0 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 50px;
}

.hero-text h1 {
  font-size: calc(7px + 2vw);
  font-weight: bolder;
}

.hero-text p {
  font-size: calc(1px + 1vw);
}

.hero-text a {
  color: #131313;
  border: 2px solid #131313;
  padding: 1.2% 2.5%;
  font-weight: bold;
  border-radius: calc(1px + 0.3vw);
  font-size: calc(1px + 1vw);
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 70%;
  border-radius: 20px;
}

.hero-text #btn:hover{
  color: wheat;
  background: rgb(0, 4, 255);
  border-color: rgb(0, 4, 255);
}

/* menu btn */

.menu,
.navbar .nav-links ul i {
  display: none;
}

/* media  laptop */
@media (max-width: 1306px) and (min-width: 768px) {
  .hero-text {
    gap: 25px;
  }
}

/* media tablate or laptop  */
@media (max-width: 768px) {

  .hero {
    min-height: 80vh;
  }
  .hero-text {
    gap: 15px;
  }
}

/* media mobile */
@media (max-width: 650px) {
  .navbar {
    padding: 15px 35px;
  }
  .navbar .nav-links ul {
    display: block;
    position: fixed;
    right: -200px;
    min-height: 100vh;
    background: #131313;
    text-align: center;
    top: 0;
    width: 200px;
    z-index: 10;
    transition: 0.8s right linear;
  }

  .navbar .nav-links ul i {
    display: inline;
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
    color: #fff;
  }

  .navbar .nav-links ul li i:hover {
    color: rgba(254, 100, 100, 0.615);
  }

  .navbar .nav-links ul li {
    padding: 10px;
    margin: 10px 0;
  }

  .navbar .nav-links ul li a {
    color: #fff;
  }

  .hero-img img {
    width: 100%;
    border-radius: 5px;
  }

  .menu {
    display: initial;
  }

  .menu i.fa-bars {
    font-size: 20px;
    border: 2px solid #131313;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(0, 238, 255, 0.195);
  }

  .hero {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-text {
    padding: 0 15px;
    align-items: center;
    gap: 20px;
  }
  .hero-text h1 {
    text-align: center;
  }
  .hero-text p {
    text-align: justify;
    text-align-last: center;
    line-height: 1rem;
    font-weight: bold;
  }

  .hero-img {
    align-items: flex-start;
  }
}
