header {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 2rem 4rem;
}

header h2 {
  font-family: serif;
  font-size: calc(3rem + 2vw);
  text-align: center;
}

@media (max-width:536px) {
  header{
    padding: 50px 0 0;
    gap:15px;
  }

  header h2{
    font-size: calc(1.5rem + 2vw);
  }
}
