header{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 2rem 4rem;
}

header h2{
    font-family:serif;
    font-size: 60px;
}
